.nav{
    /* display: flex; */
  display: inline;
    border-radius: 5px;
   
   
    
}
.nav >a{
    border-radius: 2px;
    /* justify-content: space-between; */
    padding: 10px;
    text-decoration: none;
    background-color: gold;
    cursor: cell;
    border: 2px solid gold;



}
.nav >a:hover{
    background-color: black;
    color: pink;

}
.drops{
    text-decoration: none;
    background-color: black;
    border-radius: 10px;
}
.drops>a{
    text-decoration: none;
    padding: 5px;
    height: 15px;
    color: white;
    
    border: none;
    border-radius: 5px;
    margin: 20px;
}
.drops>a:hover{
    background-color: darkgrey;
    color: red;
}
.img{
    width: 100px;
    height: 200px;
    margin: 0 0 15px 20px;
    text-align: center;
    float: right;
    padding: 15px;
    border-radius: solid blue;
}
.intro{
    color: white;
    background-image: url('./images/pngegg\ \(45\).png');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    display: flex;
    justify-content: space-between;
    flex-direction: ;
    color: black;
    
}
.intro>h4{
    padding-inline: 25px;
    
}
body{
    padding: 5%;
    max-width: 100%;
}

.wel{

display: flex;
justify-content: center;
    align-items: center;
    align-content: center;
    text-emphasis: none;
    text-shadow: 50px;
    text-align: center;
    background-color: aqua;
    animation-name: wele;
    animation-duration: 10s;
width: 150px;
animation-delay: 10s;
animation-iteration-count: infinite;
}
@keyframes wele{
    0%{background-color: aqua;} 
    25%{background-color: olive;}
    50%{background-color: pink;}
    75%{background-color: rgb(240, 140, 162);}
    100%{background-color: lightsalmon;}
    125%{background-color: tomato;}

}
.desc{
    text-decoration: none;
  background-color: lightgoldenrodyellow;
}


footer > a{
    text-decoration: none;

}
.world{
    width: 200px;
    background-image: url('./images/pngegg\ \(30\).png');
    animation-name: wo;
    animation-duration: 10s;
    animation-delay: 20s;
    animation-iteration-count: infinite;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    

}
@keyframes wo{
    from{background-image: url('./images/pngegg\ \(30\).png');}
    to{background-image: url('./images/pngegg\ \(30\).png');}
}





